body {
    color: #ffffff;
    background-color: #1c1f22;
    background-image: url(media/geometryBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: poppins, sans-serif;
}

/* Nav*/
span{
    font-size: 20px;
}

header nav a:hover {
    font-size: 18px;
    font-weight: 700;
}

header li {
    padding-left: 4px;
    padding-right: 4px;
}

.name {
    color: #1c1f22;
    font-weight: 800;
    font-size: 60px;
    padding-top: 2em;
    -webkit-text-stroke: 2px white;
}

h1 {
    color: #ffffff;
    font-weight: 700;
    padding-top: 1em;
}

.titreProjet {
    text-align: center;
    font-size: 60px;
    padding-bottom: 1em;
}

h2 {
    padding-top: 2em;
}

h3{
    font-size: 36px;
    font-weight: 700;
}

article {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

article p {
    font-size: 20px;
    padding-top: 2em;
}

article a{
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}

article a:hover{
    font-size: 26px;
    font-weight: 700;
}

.portrait {
    width: 400px;
    height: auto;
    border-radius: 50%;
}

.language {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 900;
    margin-top: 1em;
    padding: 1em;
}

.language img {
    width: 80px;
    height: 80px;
    margin: 5%;
    filter: invert(100%);
}

@media screen and (max-width: 800px) {
    .language img{
        margin: 10%;
    }
}

h3 {
    color: white;
    text-align: center;
    padding-top: 5em;
}

ul {
    list-style: none;
}
.icone {
    width: 60px;
    height: auto;
    filter: invert(100%);
    margin: 1em;
}

.icone:hover {
    filter: invert(100%) blur(3px);
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 0;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    width: 40em;
    height: 48em;
    margin: 1em;
    background-color: #32373b;
    border-radius: 10px;
    background-image: url(media/geométrie.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.site {
    width: 450px;
    height: auto;
    padding-top: 2em;
}

.realisation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.realisation a {
    color: rgb(90, 156, 255);
}

.test {
    max-height: 200px;
    max-width: 300px;
    padding-right: 1em;
}